@import "../../../styles/colors.scss";

.button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
  padding: 0 8px;
  font-weight: 600;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:active {
    opacity: 0.6;
  }

  &.danger {
    color: getColor(text, light);
    background-color: getColor(status, error) !important;
  }

  &.ghost {
    color: getColor(text);
    background-color: transparent;
  }

  &.primary {
    color: #fff;
    background-color: getColor(primary);
  }
}

@media only screen and (min-width: 1024px) {
  .button {
    &:hover {
      opacity: 0.6;
    }
  }
}
