<app-page-layout>
  <section class="search-box">
    <h1 class="title-form">Search pack</h1>

    <form [formGroup]="searchForm" (submit)="submitForm()">
      <app-input
        formControlName="name"
        inputName="name"
        type="text"
        label="Name"
        placeholder="Provice your name"
      >
      </app-input>

      <app-select
        formControlName="type"
        inputName="type"
        type="text"
        label="Type"
        placeholder="Select type"
        [options]="types"
        [initialValue]="types[types.length - 1].value"
      >
      </app-select>

      <app-button
        [isDisabled]="isLoading"
      >
        Search
      </app-button>
    </form>
  </section>

  <section class="list-packs">
    <h2 class="list-title">List packs</h2>

    <!-- Loading -->
    <app-loading *ngIf="isLoading"></app-loading>

    <!-- Empty -->
    <div *ngIf="!isLoading && packs.length < 1" class="empty">
      <img class="empty-img" src="/assets/images/empty-state.svg" alt="empty"/>

      <span>Packs not found</span>
    </div>

    <!-- List -->
    <div class="list" *ngIf="!isLoading">
      <div
        class="card"
        *ngFor="let pack of packs | paginate: { itemsPerPage: pageSize, currentPage: page }"
      >
        <header>
          <span class="name">{{pack.name}}</span>

          <small class="type">{{pack.type}}</small>
        </header>

        <div class="body">
          <span>{{pack.block}}</span>
          <small class="date">{{formatDate(pack.releaseDate)}}</small>
        </div>

        <app-button variants="outline-primary" (click)="openPack(pack.code)">
          Open pack
        </app-button>
      </div>

      <div class="pagination">
        <pagination-controls
          *ngIf="packs.length > 9" (pageChange)="page = $event"
          previousLabel="👈🏽"
          nextLabel="👉🏽"
        >
        </pagination-controls>
      </div>
    </div>
  </section>
</app-page-layout>
