@import "../../../styles/colors.scss";

:host {
  .search-box {
    border-radius: 8px;
    padding: 22px 12px 24px;
    border: 1px solid #d2d2d2;

    h1 {
      font-size: 16px;
      margin-bottom: 24px;
    }

    form {
      gap: 16px;
      display: flex;
      flex-direction: column;
    }
  }

  .list-packs {
    margin-top: 32px;

    .list-title {
      font-size: 14px;
      margin-bottom: 12px;
    }

    app-loading .loading {
      margin: 0 auto !important;
    }

    .empty {
      display: flex;
      margin-top: 32px;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 10px;
      }
    }

    .list {
      gap: 8px;
      display: flex;
      flex-wrap: wrap;

      .card {
        width: 100%;
        padding: 12px;
        display: flex;
        border-radius: 8px;
        flex-direction: column;
        border: 1px solid #d2d2d2;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
        animation: fadein .3s ease-in-out;

        @keyframes fadein {
          from {
            opacity: .6;
          }
          to {
            opacity: 1;
          }
        }

        header {
          display: flex;
          font-weight: 600;
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 12px;
          }

          small {
            padding: 4px;
            font-size: 9px;
            border-radius: 8px;
            text-transform: uppercase;
            color: getColor(text, light);
            background-color: getColor(secondary);
          }
        }

        .body {
          display: flex;
          flex-direction: column;

          .block-date {
            gap: 12px;
            display: flex;
            color: #fff;
            margin: 10px 0;
            padding: 30px 0;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: getColor(primary);

            span {
              font-weight: 600;
            }

            small {
              font-size: 8px;
            }
          }
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  :host {
    .search-box {
      padding: 25px 30px 30px;

      h1 {
        font-size: 20px;
      }

      form {
        gap: 22px;
        display: flex;
        flex-direction: column;
      }
    }

    .list-packs {
      margin-top: 54px;

      .list-title {
        font-size: 18px;
        margin-bottom: 18px;
      }

      .empty {
        margin-top: 40px;

        span {
          font-size: 14px;
        }
      }

      .list {
        gap: 12px;
        width: 100%;
        justify-content: space-between;

        .card {
          padding: 12px;
          border-radius: 8px;
          flex: 0 0 calc(50% - 36px);

          header {
            span {
              font-size: 16px;
            }

            small {
              padding: 6px;
              font-size: 10px;
              border-radius: 8px;
            }
          }

          .body {
            .block-date {
              gap: 10px;
              padding: 30px 0;

              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  ::ng-deep {
    .ngx-pagination {
      margin: 20px auto 0;

      li {
        border-radius: 4px;
        transition: all .3s ease-in-out;

        &.current {
          background-color: getColor(secondary) !important;
        }

        &:hover {
          background-color: getColor(secondary, 8) !important;
        }
      }

      .pagination-previous {
        margin-right: 10px;

        &.disabled, a:before {
          display: none !important;
        }
      }

      .pagination-next {
        margin-left: 10px;

        &.disabled, a:after {
          display: none !important;
        }
      }
    }
  }
}
