// Packages
@import 'ngx-toastr/toastr';
// Styles
@import "styles/colors.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  color: getColor(text);
  background-color: getColor(mono, light);
  font-family: 'Courier New', Courier, monospace, sans-serif;
}
