:host {
  .loading-list {
    display: flex;
    font-size: 12px;
    align-items: center;
    flex-direction: column;

    app-loading {
      margin: 40px 0 32px;
      transform: scale(2);
    }

    p {
      margin-bottom: 8px;
    }
  }

  .list-cards {
    .empty {
      display: flex;
      margin-top: 32px;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 10px;
      }
    }

    .list {
      gap: 8px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 32px;

      .list-title {
        font-size: 14px;
        margin-bottom: 12px;
      }

      .card {
        width: 100%;
      }
    }
  }
}
