@import "../../../styles/colors.scss";

:host {
  .loading-list {
    display: flex;
    font-size: 12px;
    align-items: center;
    flex-direction: column;

    app-loading {
      margin: 40px 0 32px;
      transform: scale(2);
    }

    p {
      margin-bottom: 8px;
    }
  }

  .list-cards {
    .empty {
      display: flex;
      margin-top: 32px;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 10px;
      }
    }

    .list {
      gap: 8px;
      margin-top: 32px;

      .list-title {
        font-size: 14px;
        margin-bottom: 12px;
      }

      .pack-box {
        gap: 12px;
        display: flex;
        padding: 12px;
        flex-wrap: wrap;
        border-radius: 8px;
        border: 1px solid #d2d2d2;

        .card {
          gap: 12px;
          width: 100%;
          border-radius: 8px;
          border: 1px solid #d2d2d2;
          transition: all 0.3s ease-in-out;

          header {
            display: flex;
            padding: 0 12px;
            font-weight: 600;
            padding-top: 12px;
            margin-bottom: 10px;
            align-items: center;
            justify-content: space-between;

            span {
              font-size: 12px;
            }
          }

          .body {
            gap: 4px;
            display: flex;
            color: #fff;
            padding: 10px 0;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: getColor(primary, 0.1);

            span {
              font-size: 10px;
              font-weight: 600;
              color: getColor(text);
            }
          }

          footer {
            font-size: 10px;
            margin-top: 10px;
            padding: 0 12px 12px;
          }

          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  :host {
    .loading-list {
      font-size: 14px;

      app-loading {
        margin: 80px 0 32px;
      }
    }

    .list-cards {
      .empty {
        margin-top: 40px;

        span {
          font-size: 14px;
        }
      }

      .list {
        gap: 12px;
        width: 100%;

        .list-title {
          font-size: 18px;
          margin-bottom: 18px;
        }

        .pack-box {
          gap: 12px;
          padding: 25px 30px 30px;
          justify-content: space-between;

          .card {
            flex: 0 0 calc(50% - 12px);

            header {
              padding: 0 16px;
              padding-top: 16px;
              margin-bottom: 12px;

              span {
                font-size: 16px;
              }
            }

            .body {
              gap: 6px;
              padding: 14px 0;

              span {
                font-size: 11px;
              }
            }

            footer {
              font-size: 14px;
              margin-top: 12px;
              padding: 0 12px 12px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  :host {

    .list-cards {

      .list {

        .pack-box {
          .card {
            flex: 0 0 calc(33% - 12px);
          }
        }
      }
    }
  }
}
