<app-page-layout>
  <!-- Loading -->
  <div *ngIf="isLoading" class="loading-list">
    <app-loading></app-loading>

    <p>Opening your pack!</p>
    <span>Wait...</span>
  </div>

  <section *ngIf="!isLoading" class="list-cards">
    <app-button (click)="goToSearch()">
      Open more packs
    </app-button>

    <!-- Empty -->
    <div *ngIf="cards.length < 1" class="empty">
      <img class="empty-img" src="/assets/images/empty-state.svg" alt="empty"/>

      <span>Cards not found</span>
    </div>

    <!-- List -->
    <div *ngIf="cards.length > 0" class="list">
      <h1 class="list-title">Your pack</h1>

      <div class="pack-box">
        <div *ngFor="let card of cards" class="card">
          <header>
            <span class="name">{{card.name}}</span>

            <img *ngIf="getImagePath(card.colorIdentity[0]) != null" [src]="getImagePath(card.colorIdentity[0])" alt="card type" srcset="">
          </header>

          <div class="body">
            <span class="mana">{{ card.manaCost }}</span>
            <img [src]="card.imageUrl" alt="card image" srcset="">
          </div>

          <footer>
            {{ !card.originalText ? "[No description]" : card.originalText }}
          </footer>
        </div>
      </div>
    </div>
  </section>
</app-page-layout>
